.platform{
background:#111;
color:white;
display:flex;
justify-content:space-between;
align-items:center;
padding:100px 8%;
}

.left{
max-width:500px;
}

.left h2{
font-size:56px;
margin-bottom:25px;
}

.overlap{
position:relative;
width:450px;
height:280px;
}

.layer{
position:absolute;
width:320px;
height:200px;
}

.layer.one{
right:0;
background:white;
}

.layer.two{
left:0;
top:70px;
background:#ddd;
}